In [1]:
import pandas as pd

In [2]:
owid_covid = pd.read_csv('../data/owid-covid-data.csv')

In [3]:
canada_us_covid = owid_covid[['location', 
                              'date', 
                              'total_cases', 
                              'new_cases', 
                              'population']].loc[(owid_covid.location == 'Canada') | 
                                                 (owid_covid.location == 'United States')]

In [4]:
canada_us_covid['total_cases_percap'] = canada_us_covid['total_cases'] / canada_us_covid['population']

In [5]:
canada_us_covid.to_csv('../data/canada_us_covid.csv')

In [6]:
pop_canada = pd.read_csv('../data/canada-population.csv')

In [7]:
food_consumption = pd.read_csv('../data/fullcifocoss.csv', sep = ';')

In [8]:
US_food_consumption = food_consumption.loc[food_consumption.Country == 'United States of America']

In [9]:
US_food_consumption = US_food_consumption.loc[US_food_consumption.Gender == 'All']

In [10]:
US_food_consumption = US_food_consumption.loc[US_food_consumption.SourceAgeClass == 'All']

In [11]:
US_food_consumption = US_food_consumption.loc[US_food_consumption.AgeClass == 'All']

In [12]:
US_food_consumption = US_food_consumption[['Country', 
                                           'Year', 
                                           'FoodName', 
                                           'Number_of_consumers', 
                                           'Consumers_Mean', 
                                           'Consumers_Median', 
                                           'Number_of_subjects',
                                           'Total_Mean',
                                           'Total_Median']]

In [13]:
US_food_consumption.to_csv('../data/US_food_consumption.csv')

In [22]:
US_food_consumption.sort_values(by = 'Consumers_Mean', ascending = False)

,Country,Year,FoodName,Number_of_consumers,Consumers_Mean,Consumers_Median,Number_of_subjects,Total_Mean,Total_Median
211114,United States of America,2010,(All Beverages),24520,1205.27,951.86,24673,1197.79,947.61
211618,United States of America,2010,Tap water,14048,810.42,533.25,24673,515.18,207.37
211702,United States of America,2010,Bottled water,11309,735.57,500.00,24673,326.01,0.00
211597,United States of America,2010,Drinking water,23157,496.52,338.37,24673,467.47,303.39
205255,United States of America,2010,(All Vegetables),24253,168.40,136.78,24673,165.53,134.36
...,...,...,...,...,...,...,...,...,...
207754,United States of America,2010,Coriander seed,13719,0.00,0.00,24673,0.00,0.00
208300,United States of America,2010,Maples (trunk sap),1428,0.00,0.00,24673,0.00,0.00
207334,United States of America,2010,Butternut squashes,6,0.00,0.00,24673,0.00,0.00
209812,United States of America,2010,"Gooseberries (green, red and yellow)",15,0.00,0.00,24673,0.00,0.00
209119,United States of America,2010,Huckleberries,35,0.00,0.00,24673,0.00,0.00